# Virtual Environment
venv/
.venv/
GenAiProject1.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Chroma Vector DB
vectorstore/

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db

# VSCode Settings
.vscode/
